
#brand {
  color: #aaa;
  text-shadow: 0px 0px 1px #aaaaff;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
#brand:hover {
  color: #fff;
  text-shadow: 0px 0px 20px #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* CALLOUT */

.beyo-callout+.beyo-callout {
  margin-top: -5px;
}

.beyo-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.beyo-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

/* Danger */

.beyo-callout-danger {
  border-left-color: #d9534f;
}

.beyo-callout-danger h4 {
  color: #d9534f;
}

/* Warning */

.beyo-callout-warning {
  border-left-color: #f0ad4e;
}

.beyo-callout-warning h4 {
  color: #f0ad4e;
}

/* Info */

.beyo-callout-info {
  border-left-color: #5bc0de;
}

.beyo-callout-info h4 {
  color: #5bc0de;
}

/* Success */

.beyo-callout-success {
  border-left-color: #0bc00f;
}

.beyo-callout-success h4 {
  color: #0bc00f;
}

/* SECTION */

.beyo-docs-section {
  padding-bottom: 20px;
}

.beyo-docs-section h3 {
  padding-top: 10px;
}

code.nocode {
  color: white;
}