/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

#brand {
  color: #eeeeff;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
#brand:hover {
  color: #ffffff;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.github {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 9999999;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
  color: #eeeeff;
  font-weight: bold;
}

.vert-text h3 {
  color: #ddddee;
}

.sharper-glow {
  text-shadow: 1px 0px 1px #ff0000 , 0px 1px 3px #0000ff, -1px 0px 3px #0000ff, 0px -1px 0px #686868, 0px 0px 20px #ffffff;
}

/* Side Menu */

#sidebar-wrapper {
  margin-left: -250px;
  left: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
}

.sidebar-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 8px;
}

.sidebar-nav li {
  line-height: 40px;
}

.sidebar-nav li i.fa {
  text-align: center;
  width: 32px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav ul > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  left: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Intro */

.intro {
  padding: 50px 0;
}

#about i.fa-warning {
  border: none;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
  color: red;
}

/* features */

.features {
  background: #567FBA;
  padding: 50px 0;
  color: #ffffff;
}

.feature-item {
  margin-bottom: 15px;
}

i.feature-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
}

.features a {
  color: #CCCDFF;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/callout.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.callout h1 a {
  color: #bbffbb;
}

/* Documentation */

.documentation {
  padding: 50px 0;
}

.documentation-item {
  margin-bottom: 25px;
}

.img-documentation {
  margin: 0 auto;
}

i.doc-icon {
  border: 3px solid;
  border-radius: 50%;
  display: inline-block;
  font-size: 40px;
  width: 120px;
  height: 120px;
  line-height: 116px;
  vertical-align: middle;
  text-align: center;
}



/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Footer */

footer {
  padding: 100px 0;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
/* Responsive */

@media (max-width: 768px) {

  .header {
	background: url(../img/bg.jpg) no-repeat center center scroll;
  }

  .callout {
	background: url(../img/callout.jpg) no-repeat center center scroll;
  }

  .map {
	height: 75%;
  }

}

